header { 
font-family: "Merriweather", serif;
font-size: large;
text-align : center;
text-transform : uppercase;
}

body { 
font-family: "Palatino Linotype", sans-serif;
font-size: 16px; 
line-height: 1.5;
text-align: justify;
background: #eef;
} 

article, aside, footer, header, menu, nav, section {
display: block;
} 

articles , sections{
	margin :20px;
}

images, nav, texts, aside {
	padding: 20px
}
texts{
	margin : 5px;
}
images{
	width : 25%;
	float :left;
	clear: both;
}
